.crud_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.7px solid rgb(14, 0, 0);
  background-color: rgba(247, 247, 186, 0.1);
}
.insertar {
  padding-bottom: 2rem;
}
.h3_insert {
  font-size: 2rem;
  color: rgb(3, 26, 18);
  font-style: italic;
  text-align: center;
}
.insert_label {
  padding-bottom: 1rem;
}
.label_Insert {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.crud_Form_Insert_cancelar {
  display: flex;
  justify-content: center;
}
.crud_Form_Insert_cancelar_button {
  padding-right: 1rem;
}
