.crud_form {
  color: rgba(255, 255, 255, 0.548);
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #8ab9c5, #87c2f1);
  width: 98%;
  border-radius: 1rem;
  /*** 1200px;**/
  margin: 0 auto;
  max-width: 700px;
  min-height: 500px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.Link_insert {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
  background-color: rgba(0, 255, 255, 0.425);
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.Link_insert:hover {
  background-color: rgba(173, 233, 233, 0.753);
}
@media (min-width: 768px) {
  .crud_form {
    display: flex;
    min-height: 400px;
  }
}
.nav_Insert {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.crud_Form_Insert_cancelar {
  background-color: rgba(255, 255, 255, 0.548);
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.crud_Form_Insert_cancelar:hover {
  background-color: rgba(255, 255, 255, 0.548);
}
.crud_Form_Insert_cancelar_button_danger {
  background-color: rgba(255, 255, 255, 0.548);
  margin-left: 1rem;
}
.crud_Form_Insert_cancelar_button_danger:hover {
  background-color: rgb(128, 107, 107);
}
button {
  border-radius: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
}

.insert_label {
  padding-top: 0.5rem;
  text-align: center;
}
.label_Insert {
  font-size: 1.3rem;
  color: black;
  display: flex;
  padding-right: 1rem;
  padding-left: 0.5rem;
  justify-content: center;
}
@media (min-width: 458px) {
  .label_Insert {
    display: block;

    padding-left: 0.5rem;
  }
  .label_Insert {
    display: flex;
    padding-right: 1rem;
    padding-left: 0.5rem;
    justify-content: center;
  }
}
.selected {
  text-align: center;
  padding-top: 0.5rem;
  color: blue;
}
.h3_insert {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
}
.form-control {
  font-size: 1.5rem;
  border-radius: 0.3rem;
}
.p {
  color: red;
}
