:root {
  --blanco: #ffffff;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --oscuro: #212121;
}

.HomePrincipal {
  margin: 0 auto;
}
.NavbarPaincipal {
  display: flex;
  background-color: var(--oscuro);
  padding: 1rem;
  justify-content: space-between;
}
.abaout {
  margin-right: 1rem;
}
.container_about {
  display: flex;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .NavbarPaincipal {
    justify-content: space-between;
  }
  .abaout {
    display: flex;
    font-size: 1.3rem;
  }
  .container_about {
    padding-bottom: 3rem;
  }
}
.navbar__logo {
  width: 150px;
}
.spanHomePrincipal {
  color: var(--blanco);
  text-decoration: none;
  padding-left: 3rem;
}
@media (min-width: 768px) {
  .spanHomePrincipal {
    display: flex;
  }
}
.titulo {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
}
.imgHomePrincipal {
  width: 100%;
  height: 250px;
  margin: 0 2rem;
}
.container {
  margin: 0 auto;
}

.footer {
  background-color: var(--oscuro);
  padding-bottom: 0.5rem;
}
