:root {
  --blanco: #ffffff;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --oscuro: #212121;
  --red: #ff334c;
}
/*Utilidades*/

.fw-300 {
  font-weight: 300;
}

.centrar-texto {
  text-align: center;
}

.d-block {
  display: block !important;
}
.contenido-centrado {
  max-width: 80rem;
}

/*Header*/
.site-header {
  background-color: var(--oscuro);
}
.site-header.inicio {
  background-position: center center;
  background-size: cover;
}

.contenido-header {
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  padding-right: 5rem;
  position: relative;
}
footer {
  background-color: var(--oscuro);
  padding: 0.5rem;
  color: #ffffff;
  text-align: center;
}
.pf {
  color: var(--blanco);
  font-size: 1rem;
}
.imgFooter {
  width: 150px;
}
@media (min-width: 458px) {
  .contenido-header {
    display: flex;
    padding-left: 3rem;
  }
}

.barra {
  padding-top: 0.5rem;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*Navegacion*/

.navegacion a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2, 2rem;
  display: block;
}

@media (min-width: 768px) {
  .navegacion a {
    display: inline-block;
    font-size: 1rem;
    margin-right: 2rem;
  }
  .navegacion a:last-of-type {
    margin: 0;
    margin-right: 0.5rem;
  }
}
.navegacion a:hover {
  color: var(--red);
}
.img {
  width: 180px;
}
/*Mobile-menu*/

.mobile-menu img {
  width: 2rem;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.navegacion:target {
  display: flex;
}

.navegacion {
  display: block;
}

@media (min-width: 458px) {
  .navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer {
  background-color: var(--oscuro);
  padding-bottom: 0.5rem;
}
.footer {
  padding: 3rem;
  background-color: red;
}
