.homescreen {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
:root {
  --blanco: #ffffff;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --oscuro: #212121;
}

.homescreen__title {
  font-size: 1.5rem;
  color: var(--oscuro);
  margin-bottom: 1rem;
}

.homescreen__products {
  display: grid;
  gap: 10px;
  padding: 0 15px;
}

@media (min-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 630px) {
  .homescreen__products {
    grid-template-columns: repeat(4, 1fr);
  }
}
