/* .homescreen {
  display: grid;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
} */

.homescreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 18px;
}

.homescreen__products {
  display: grid;
  /* margin-left: 50px;
  margin-top: 10px; */
  gap: 20px;
  align-items: center;
  justify-items: center;
}

@media (min-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 630px) {
  .homescreen__products {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding-left: 0.5rem;
  }
}

/* .total {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
} */
