

.zoom { 
    width: 250px; 
    float:left;
    z-index: 10;
        -webkit-transition: all .3s ease-out; 
        -moz-transition: all .3s ease-out; 
        -o-transition: all .3s ease-out; 
        transition: all .3s ease-out; 
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    }
    
    .zoom:hover { 
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        -ms-transform: scale(2);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
        M11=2, M12=-0, M21=0, M22=2);
      
    }
    
    .image { 
    margin: 0; 
    border: 0 }
    
    .left {
    width: 250px; 
    float:left;
    z-index: 10; 
    overflow: hidden;
      
    }
    